@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");
@tailwind base;

@layer base {
  html {
    font-size: 62.5%;
    box-sizing: border-box;
  }
}
@tailwind components;

@layer components {
  .btn {
    border: none;
    background-color: #eee;
    color: #222;
    font-size: 2rem;
    font-family: inherit;
    padding: 2rem 3rem;
    cursor: pointer;
  }

  .btn:hover {
    background-color: #ccc;
  }
}
@tailwind utilities;
